* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.wrap {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.header {
    height: 80px;
    float: left;
    width: 1200px;
    background: black;
}

.menu {
    float: right;
    width: 600px;
    height: 80px;
}

.menu_a {
    color: white;
    font-weight: bold;
}

.menu_a:hover {
    color: #d3b704;
}

.menu_notice {
    margin-right: 30px;
}

.logo_box {
    width: 175px;
    height: 34px;
    float: left;
}

li {
    float: right;
    text-align: center;
    padding-left: 30px;
    margin-top: 25px;
}

.logo_img {
    margin: 20px 0 0 20px;
    width: 175px;
    height: 34px;
}

/* 메인 */

.section {
    width: 1200px;
    float: left;
}

.left_img_box {
    width: 350px;
    float: left;
}

.left_img {
    width: 350px;
    height: 800px;
    float: left;
}

.right_box {
    float: left;
    width: 820px;
    height: auto;
}

.right_area_box {
    float: left;
    margin: 25px 0 0 30px;
}

.job_notice_area {
    float: left;
}

.cho_btn_box {
    float: left;
    margin: 25px 0 0 30px;
    width: 820px;
    height: 35px;
}

.left_cho_btn {
    float: left;
    width: 410px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #7D7878;
    color: white;
    background: #484444;
    font-weight: bold;
    font-size: 14px;
}

.left_cho_btn > a {
    color: white;
}

.right_cho_btn {
    float: left;
    width: 410px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #7D7878;
    color: black;
    background: white;
    font-weight: bold;
    font-size: 14px;
}

.job_logo_box {
    float: left;
    margin: 25px 0 0 30px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: black;
    z-index: -999;
}

.job_logo_img {
    width: 78px;
    height: 32px;
    display: block;
    margin: 0 auto;
    margin-top: 57px;
}

.table_box {
    float: left;
    width: 630px;
    height: auto;
    background: white;
    margin: 30px 0 0 10px;
}
.ent_area_box {
    float:left;
    border-top : 1px solid #A4A4A4;
    border-bottom: 1px solid #A4A4A4;
    width: 660px;
    height: 50px;
    line-height: 46px;
}
.ent_area {
    font-weight: bold;
    color:#424242;
}
.mem_table td {
    font-size:12px;
    color:gray;
}

.nhn_ent {
    width: 300px;    
}

.target {
    width: 40px;
}

.job {
    width: 50px; 
    text-align: center;
}

#da {
    text-align: center;
    font-weight: bold;
    color:black;
}

#ed {
    text-align: center;
    font-weight: bold;
    color:black;
}

#jo {
    text-align: center;
    font-weight: bold;
    color:black;
}
#de {
    font-weight: bold;
    color:black;
}
#ent_nhn {
    font-weight: bold;
    color:black;
}

.tr_first_box > td{
    font-size:12px;
}

.tr_box > td{
    font-size:12px;
}

.table_div_box_1 {
    text-align: center;
    width: 60px;
    height: 30px;
    line-height: 30px;
    border:1px solid gray;
    background: red;
    float:left;
}

.table_div_box_2 {
    text-align: center;
    width: 60px;
    height: 30px;
    line-height: 30px;
    border:1px solid gray;
    float:left;
}

.table_div_box_1 a {
    color:white;
}

.table_div_box_2 a {
    color:#535252;
}