/* 공통 */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* */

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.header {
    width: 1000px;
    height: 80px;
}

.menu li {
    float: left;
    border: 1px solid lightgray;
    width: 80px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 13px;
}

.menu {
    padding: 24px 0 30px 0;
}

.section {
    float: left;
    width: 1000px;
    height: auto;
}

.footer {
    width: 1000px;
    height: auto;
}

.header_img_box {
    width: 585px;
    height: 84px;
    float: left;
}

.main_img {
    width: 220px;
    height: auto;
    float: left;
    padding: 20px 0 20px 0;
}

.header_link {
    float: left;
    width: 200px;
    height: 84px;
}

.header_link a {
    padding: 10px 0 10px 0;
}

.header_serch_input {
    float: left;
    margin-top: 25px;
}

#serch_img {}

#serch {
    float: left;
    height: 34px;
    border: 1px solid gray;
}

.header_gnb {
    float: left;
    width: 1000px;
    height: 44px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    clear: both;
}

.menu_link {
    height: 44px;
    display: block;
    text-align: center;
    width: 120px;
    line-height: 44px;
    float: left;
    font-weight: bold;
    color: #646464;
}

.nav {
    width: 1000px;
    height: 44px;
    display: block;
    float: left;
}

.big_menu {
    float: left;
}

.menu_link:hover {
    color: #0076b6;
}

.menu_link:hover {}

.sub_menu_box {
    width: 120px;
    height: 500px;
    display: none;
}

.sub_menu_list {
    text-align: center;
    width: 120px;
    height: 44px;
    line-height: 44px;
    float: left;
    display: none;
}

.section {
    width: 100%;
    height: auto;
    background: white;
    ;
}

.slide_box {
    width: 100%;
    height: 280px;
    float: left;
    position: relative;
}

.slide_img {
    padding: 5px 0 5px 0;
    width: 100%;
    height: 270px;
    float: left;
    position: relative;
}

.slide_img2 {
    padding: 5px 0 5px 0;
    width: 100%;
    height: 270px;
}

.notice_box {
    float: left;
    width: 650px;
    height: 170px;
}

.notice_header {
    padding: 5px 0 0 10px;
    width: 645px;
    height: 40px;
    float: left;
    background: white;
}

.notice_area {
    float: left;
    padding: 6px 5px 0 5px;
}

.notice_area > h3,
.home_area > h3 {
    font-size: 16px;
}

.home_area {
    float: left;
    padding: 6px 0 0 5px;
}

#more_img {
    float: right;
    padding: 5px 0 0 0;
}

.notice_bottom {
    float: left;
    width: 645px;
    margin: 0 auto;
    height: 130px;
    padding: 5px 0 0 10px;
    background: white;
}

.board {
    width: 650px;
    float: left;
}

.date {
    text-align: center;
}

.img_slide_box_right {
    width: 340px;
    height: 400px;
    float: right;
    margin: 0 0 0 10px;
}

.section_slide {
    width: 340px;
    height: 400px;
}

.calendar_box {
    float: left;
    width: 320px;
    height: 230px;
}

.calendar_top {
    float: left;
    width: 100%;
    height: 20px;
    margin-top: 30px;
    text-align: center;
}

.runch {
    float: left;
    width: 320px;
    height: 230px;
}

.calendar_date {
    font-size: 14px;
}

.calendar_middle {
    float: left;
    width: 100%;
    height: 116px;
}

.today {
    font-size: 92px;
    line-height: 100px;
    padding: 8px 0;
    color: #0076b6;
    text-align: center;
}

.prev_box {
    float: left;
    width: 105px;
    height: 120px;
    text-align: center;
}

.today_box {
    float: left;
    width: 110px;
    height: 120px;
}

.next_box {
    float: left;
    width: 105px;
    height: 120px;
    text-align: center;
}

.prev_box {
    line-height: 130px;
}

.next_box {
    line-height: 125px;
}

.title_box {
    background: #e5e6e8;
    float: left;
    width: 320px;
    height: 34px;
}

.title_box > p {
    padding: 8px 15px;
    font-size: 12px;
    cursor: pointer;
}

.btn_more {
    float: right;
}
